[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
rope = "*"
autopep8 = "*"

[packages]
colour_palette = {editable = true,path = "."}

[requires]
python_version = "3.8"
